# Large result folders
supplement_info/q_square_metric/
supplement_info/result_clarification/
supplement_info/ablation/precomputed/
supplement_info/results


# optional cache/temp
*.pt
*.pth
*.ckpt
*.npy
*.npz
__pycache__/supplement_info/results/
__pycache__/
